@import ~sass/variables

main
    padding: 4rem 2rem
    margin: 0 auto
    flex-grow: 1

.container
    display: grid
    grid-template-columns: auto
    grid-gap: 3rem
    justify-content: center
    

.category
    text-align: center
    background: white
    border-radius: 0.5rem
    box-shadow: 0 15px 30px -20px $dark10
    padding: 2rem  3rem  1rem 3rem 
    h1
        font-weight: bold 
        font-size: 1.5rem
        margin-bottom: 1em
        color: $dark70

.gridRow
    margin: 0 -2rem

.gridImg
    margin-bottom: 1rem
    a
        display: block



// .gridImg:first-of-type
//     margin-left: 0