
$light: #F7F7F7
$dark: #353946
$dark3: rgba( #353946, 0.03 )

$dark5: rgba( #353946, 0.05 )

$dark7: rgba( #353946, 0.07 )

$dark10: rgba( #353946, 0.1 )

$dark15: rgba( #353946, 0.15 )

$dark20: rgba( #353946, 0.2 )

$dark30: rgba( #353946, 0.3 )

$dark40: rgba( #353946, 0.4 )

$dark50: rgba( #353946, 0.5 )

$dark60: rgba( #353946, 0.6 )

$dark70: rgba( #353946, 0.7 )

$dark80: rgba( #353946, 0.8 )

$dark90: rgba( #353946, 0.9 )

$borderRad: 10px 
$accent: #0788FF
$accentHover: lighten(#0788FF, 10)
$blue: #0788FF
$purple: #B656F1
$red: #F65959
$yellow: #FFCB12

$rightMenuButtonSize: 55px
$rightMenuPadding: 2rem


=placeholder($color)
  &::-webkit-input-placeholder 
      color: $color
  &::-moz-placeholder   
      color: $color
  &::-moz-placeholder       
      color: $color
  &::-ms-input-placeholder 
      color: $color   