@import ~sass/variables

.container

.setting
    margin-bottom: 1rem
    display: flex
    justify-content: space-between
    align-items: center
    color: $dark80
    position: relative
    label
        font-weight: 600
        font-size: 0.9rem   

.error
    color: $red
    font-size: 0.75rem
    position: absolute
    left: 0
    bottom: -1.25rem

.inputWrapper  
    display: flex
    align-items: center
    input
        width: 90px
        border: solid 2px $dark10
        padding: 5px 0
        border-radius: 10rem
        color: $dark
        font-weight: 600
        font-size: 1rem
        text-align: center
        margin-right: 0.75rem
    span
        display: inline-block
        width: 20px
        color: $dark60
        font-weight: bold
        font-size: 0.8rem
        &.hasChildren
            cursor: pointer
    &.open 
        input
            pointer-events: none
            background: $dark10
            color: $dark30
        i
            transform: rotate(0)
    i
        display: inline-block
        font-size: .5rem
        transform: rotate(-90deg)
        transition: 0.3s

.childrenCont
    padding-left: 1rem
    border-left: 2px solid $dark10