@import ~sass/variables

.container
    display: flex
    flex-direction: column

.settingsGroup
    margin-bottom: 2rem
    h1
        color: $dark
        font-weight: bold
        margin-bottom: 1rem



        
