@import ~sass/variables

main
    padding: 4rem 2rem 2rem 2rem
    margin: 0 auto
    height: 100%
    width: 100%
    display: flex
    flex-direction: column


.canvasCont
    flex-grow: 1
    position: relative
  
footer
    position: relative
    margin-top: 2rem
    height: 55px
    text-align: center

.proBanner
    display: inline-flex
    align-items: center
    background: $accent
    padding: 0.5rem 0.5rem 0.5rem 1.5rem
    border-radius: 20rem
    color: white
    p
        font-weight: bold
        font-size: 1rem
        margin-right: 1rem
    button
        padding: .5rem 0
        border: 2px solid lighten($accent,10)
        font-weight: bold
        border-radius: 20rem
        color: white
        width: 90px
        box-shadow: 0 5px 15px -5px transparent
        transition: 0.3s
        &:first-of-type
            background: white
            color: $accent
            margin-right: 1rem
            border: 2px solid white
        &:hover
            border: 2px solid white
            &:first-of-type
                transform: translate3d(0,-1px, 0) scale(1.05)
                box-shadow: 0 5px 15px -5px darken($accent,25)

.download
    z-index: 15
    position: absolute
    top: 0
    right: calc(-55px - 2rem)
    background: $accent
    height: 55px
    width: 55px
    color: white
    border-radius: 20rem
    font-size: 1.15rem
    box-shadow: 0 8px 20px -8px $blue
    transition: 0.3s
    &:hover
        transform: scale(1.1)