@import ~sass/variables


aside
    padding: 2rem
    height: 100vh
    width: 300px
    background: white
    box-shadow: 0 0 20px 0 $dark3
    overflow-y: auto
    -webkit-overflow-scrolling: touch
    // overscroll-behavior: contain
    // position: fixed
    // top: 0
    // left: 0

.logo
    text-align: center
    margin-bottom: 2rem
    a
        display: inline-block  
        cursor: pointer
.title
    color: $dark50
    text-align: center
    letter-spacing: .2em
    margin-bottom: 2rem