@import ~sass/variables

.canvasAbs
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom : 0
    display: flex
    align-items: center  
    justify-content: center  

canvas 
    display: block
    cursor: pointer
    box-shadow: 0 10px 30px 0 $dark10