@import ~sass/variables




aside
    // width: calc(#{$rightMenuButtonSize} + #{$rightMenuPadding})
    padding-right: $rightMenuPadding 
    height: 100vh
    display: flex
    flex-direction: column
    align-items: flex-end
    justify-content: center
    position: fixed
    top: 0
    right: 0
    z-index: 10
    pointer-events: none

a
    pointer-events: all
    cursor: pointer
    margin: 1rem 0
    display: flex
    align-items: center
    position: relative
    border-radius: 10rem
    min-height: $rightMenuButtonSize
    height: $rightMenuButtonSize
    width: $rightMenuButtonSize
    font-size: 1.25rem
    transition: 0.3s
    overflow: hidden
    padding: 0 17.5px
    background-color: white
    box-shadow: 0 8px 20px -8px $dark20
    //hover
    &:hover:not(.locked)
        p
            transform: translateX(0.5rem) 
    //inActive
    &.active
        color: white
    //locked
    &.locked
        background-color: $dark3 
        box-shadow: none
        color: $dark10 
        overflow: visible
        p
            display: none
        &:before
            font-size: 0.7em

//grids
.grids
    color: $blue
    &.active
        background-color: $blue
        box-shadow: 0 8px 20px -8px $blue
    &:hover
        box-shadow: 0 8px 20px -8px $blue
        width: 105px
        background-color: $blue
        color: white

//templates
.templates
    color: $purple
    &.active
        background-color: $purple
        box-shadow: 0 8px 20px -8px $purple
    &:hover:not(.locked)
        box-shadow: 0 8px 20px -8px $purple
        width: 145px
        background-color: $purple
        color: white
//saved
.saved
    color: $red
    &.active
        background-color: $red
        box-shadow: 0 8px 20px -8px $red  
    &:hover:not(.locked)
        box-shadow: 0 8px 20px -8px $red  
        width: 110px
        background-color: $red
        color: white
//account
.account
    color: $dark
    padding: 0 16px
    i
        font-size: 1.2em
    p
        color: $dark !important
    &.active
        background-color: $yellow
        box-shadow: 0 8px 20px -8px $yellow
    &:hover
        box-shadow: 0 8px 20px -8px $yellow
        width: 130px
        background-color: $yellow

.a-content
    display: inline-flex
    align-items: center
    font-weight: bold
    p
        transition: 0.3s
        transform: translateX(2.5rem) 
        font-weight: bold
        font-size: .8em
        color: white

