@import ~sass/variables

.container
    position: absolute
    height: 100%
    width: 100%
    top: 0
    left: 0
    background-color: $dark60
    z-index: 100
    display: flex
    padding: 2rem
    overflow-y: auto
    

.modal
    background-color: white
    border-radius: 0.5rem
    margin: auto
    display: inline-flex
    padding: 2rem
    height: 440px
    width: 100%
    max-width: 700px

.preview
    display: grid
    grid-template-rows: 85% 15%
    margin-right: 2rem
    flex-grow: 1

.imgCont
    text-align: center
    height: 100%
    max-height: 100%
    max-width: 100%
    position: relative
    img
        height: 100%
        width: 100%
        object-fit: contain
        position: relative
        z-index: 5 
        &:last-of-type
            position: absolute
            top: 0
            left: 0
            opacity: 0
            z-index: 1
            transition: 0.3s
        &.active
            opacity: 1

.imageName
    display: flex
    align-items: flex-end
    justify-content: center
    
.inputCont
    position: relative
    width: 50%
    min-width: 175px
    text-align: center
    input
        width: 100%
        text-align: center
        font-weight: bold
        color: $dark
        font-size: 1.25rem
        padding-bottom: .5rem
        border-bottom: solid 2px $dark10
        +placeholder($dark30)
        &:focus ~ span 
            transform: scaleX(1)
    span
        position: absolute
        display: inline-block
        height: 2px
        width: 100%
        background: $accent
        bottom: 0
        left: 0
        transform: scaleX(0)
        transition: 0.3s


.settings
    width: 175px
    min-width: 175px

.setting
    text-align: center
    margin-bottom: 2rem
    h1
        font-weight: bold
        font-size: 1rem
        margin-bottom: .75rem
    button
        border-radius: 10rem
        border: solid 2px $dark20
        color: $dark30
        background-color: white
        font-weight: bold
        width: 82px
        padding: .5rem 0
        transition: 0.3s
        &.active
            border: solid 2px $accent
            color: $accent
        &:hover
            border: solid 2px $accent

    &.thin
        button
            width: 50px
    &:last-of-type
        margin: 0

.buttonCont
    display: flex
    justify-content: space-between

.downloadBtn
    a
        display: block
    button
        border-radius: 10rem
        background-color: $accent
        width: 100%
        color: white
        padding: .75rem 
        font-size: 1.25rem
        box-shadow: 0 8px 20px -8px $accent
        transition: 0.3s
        &:hover
            transform: scale(1.1)
    