@import ~sass/variables

.container
    display: flex
    flex-direction: column
    align-items: center
    width: 100%
    padding-top: 2rem

img
    max-width: 175px
    margin-bottom: 4rem

.slideCont
    position: relative
    height: 250px
    width: 100%

home-slide
    position: absolute
    width: 100%

.dots
    position: relative
    z-index: 1
    span
        margin: 0 .5rem 2rem .5rem
        display: inline-block
        border-radius: 50%
        height: 10px
        width: 10px
        background-color: $dark20
        cursor: pointer
        transition: 0.3s
        &.active
            background-color: $dark70

button
    width: 100%
    max-width: 175px
    border-radius: 50rem
    color: white
    font-weight: bold
    font-size: 1rem
    padding: 1rem 
    margin-bottom: 2rem
    transition: 0.3s
    &:hover
        transform: scale(1.1)
    &.blue
        background: $blue
        box-shadow: 0 8px 20px -8px $blue
    &.purple
        background: $purple
        box-shadow: 0 8px 20px -8px $purple
    &.red
        background: $red
        box-shadow: 0 8px 20px -8px $red
    &:nth-of-type(2)
        background: none
        box-shadow: none
        color: $dark
        border: 2px solid $dark10
     


// @media (max-height: 700px)
//     .slideCont
//         display: none
//     .dots
//         display: none