@import ~sass/variables

main
    padding: 4rem 2rem
    flex-grow: 1
    display: flex
    justify-content: flex-start
    align-items: center
    flex-direction: column
    
.logo
    display: block
    margin-bottom: 2rem

.tagline
    margin-bottom: 4rem

.menu
    width: 100%
    max-width: 800px
    display: grid
    grid-template-columns: repeat(auto-fit,150px)
    grid-gap: 2rem
    justify-content: center
    margin-bottom: 4rem

.menuItem
    width: 100%
    a
        position: relative
        display: flex
        justify-content: center
        align-items: center
        margin: 0 auto 1rem auto
        border-radius: 50%
        height: 80px
        width: 80px
        transition: 0.3s
        &:hover
            transform: scale(1.1)
        &.locked
            background-color: $dark3
            box-shadow: none
            i
                color: $dark10 
    i
        color: white
        font-size: 1.75rem
    h3
        text-align: center
        font-weight: bold

.gridBtn
    background-color: $blue
    box-shadow: 0 8px 20px -8px $blue

.templateBtn
    background-color: $purple
    box-shadow: 0 8px 20px -8px $purple
    i
        font-size: 1.6rem

.savedBtn
    background-color: $red
    box-shadow: 0 8px 20px -8px $red

.accountBtn
    background-color: $yellow
    box-shadow: 0 8px 20px -8px $yellow
    i
        color: $dark
        font-size: 2.1rem

.recent
    width: 100%
    text-align: center
    h1
        color: $dark50
        letter-spacing: .1em

.bg
    margin:  0 auto
    width: 100%
    max-width: 600px
    border-radius: 1rem
    padding: 1.5rem
    position: relative
    &.locked
        background: $dark3
        margin-top: 1.5rem
        cursor: pointer
        figure
            box-shadow: none 
        



    