@import ~sass/variables

.cont
    display: flex
    flex-direction: column
    align-items: center
    width: 100%
    z-index: 0

.icon
    font-size: 3rem
    color: $purple
    margin-bottom: 2rem
    &.blue
        color: $blue
    &.purple
        color: $purple
    &.red
        color: $red

h2
    font-size: 1.75rem
    margin-bottom: 2rem

p
    font-size: 1.1rem
    text-align: center
    margin-bottom: 2rem
    height: 100px
