@import ~sass/variables
*
    box-sizing: border-box
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    -webkit-tap-highlight-color: transparent
    margin: 0
    padding: 0
    &:before,
    &:after 
        box-sizing: border-box
        -webkit-box-sizing: border-box
        -moz-box-sizing: border-box
    &:focus
        outline: none
    &::selection
        background: $accent
        color: white
    &::-webkit-scrollbar 
        background: none
        width: 6px
    &::-webkit-scrollbar-track 
        background: rgba(0,0,0,0.1)
    &::-webkit-scrollbar-thumb 
        background-color: rgba(0,0,0,0.1)
        border-radius: 10rem

    &::-webkit-scrollbar-button
        display: none

html,
body 
    height: 100%
    width: 100%
    margin: 0
    padding: 0
    font-family: 'Open Sans', sans-serif
    font-weight: 400
    line-height: 1.5rem
    -webkit-font-smoothing: antialiased   
    color: $dark70
    background-color: $light
    overflow: hidden
    

h1,h2,h3,h4,h5,h6
    font-weight: 600

button
    border: none
    background: none
    cursor: pointer
    font-family: inherit

input
    border: none
    border-radius: 0 
    appearance: none
    background: none
    font-family: inherit
    &:-webkit-autofill 
        -webkit-transition-delay: 99999s

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button 
    -webkit-appearance: none
    margin: 0


input[type=number] 
    -moz-appearance: textfield


@-webkit-keyframes autofill 
    to 
        color: black
        background: transparent

a 
    text-decoration: none
    outline: 0
    color: inherit
    

//pages
.pageCont
    display: flex
    height: 100%

.pageMain
    flex-grow: 1
    height: 100%
    overflow-y: auto
    -webkit-overflow-scrolling: touch
    &.hasMenu
        padding-right: calc(#{$rightMenuButtonSize} + #{$rightMenuPadding})

//locked icon
.locked
    &:before
        font-family: "Gridly" !important
        content: "\e904"
        color: white
        background: #A8ABB6
        padding: 5px
        height: 30px
        width: 30px
        border-radius: 50%
        position: absolute
        right: 0
        top: 0
        line-height: 17px
        transform: translate(25%,-25%)
        text-align: center

.lockedHover
    &:hover
        transform: none !important
        animation: shake 0.7s cubic-bezier(.36,.07,.19,.97) both

@keyframes shake
    10%, 90%
        transform: translate3d(-1px, 0, 0)
    20%, 80%
        transform: translate3d(-2px, 0, 0)
    30%, 50%, 70%
        transform: translate3d(-4px, 0, 0)
    40%, 60%
        transform: translate3d(4px, 0, 0)

.gridImg
    display: inline-block
    margin: 0 2rem
    text-align: center
    figure 
        border: 2px solid $dark10
        border-radius: .5rem
        overflow: hidden
        cursor: pointer
        height: 110px
        width: 110px
        margin: 0 auto .5rem auto
        transition: 0.3s
        &:hover
            transform: scale(1.1)     
            border: 2px solid $accent   
        img
            height: 100%
            width: 100%
            object-fit: contain
    h4
        color: $dark70
        font-weight: bold
    h5
        color: $dark30
        line-height: 1em