@font-face {
  font-family: "Gridly";
  src: url("./Gridly.ttf") format("truetype"),
    url("./Gridly.woff") format("woff"), url("./Gridly.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "Gridly" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.i-down:before {
  content: "\e906";
}
.i-download:before {
  content: "\e905";
}
.i-locked:before {
  content: "\e904";
}
.i-account:before {
  content: "\e900";
}
.i-grid:before {
  content: "\e901";
}
.i-heart:before {
  content: "\e902";
}
.i-template:before {
  content: "\e903";
}
